<?xml version="1.0"?>
<model>
  <name>fractal_aruco_marker</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>gimbal_simulation</name>
  </author>
  <description>Flat Gazebo model for the ArUco fractal marker used by the upstream uav_landing_sim reference.</description>
</model>
